@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    background-color: ghostwhite;
    border: 2px solid #2ecc71;
    margin-top: 100px;
    box-shadow: 6.0px 12.0px 12.0px hsl(0deg 0% 0% / 0.31),
                -3.0px -3px 12.0px hsl(0deg 0% 0% / 0.31);
}

input[type=text] {
    border: 2px solid #2ecc71;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 98%;
    height: 30px;
    border-radius: 5px;
}

body {
    font-family: "Poppins", sans-serif;
    background-image: url('images3.jpg');
    background-size: 1550px;
}

input[type=submit] {
    background-color: #2ecc71;
    color: white;
    width: 98%;
    border: 0px;
    border-radius: 5px;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type=submit]:hover {
    background-color: #196e3d;
    transition: 0.3s;
    box-shadow: 3.0px 4.0px 6.0px hsl(0deg 0% 0% / 0.31);
    transform: scale(1.05);
}

select {
    margin-bottom: 20px;
    width: 30%;
    border: 1px solid green;
}

input[type=radio] {
    margin-bottom: 20px;
}

h4 {
    text-align: center;
    margin: 0px;
}

a {
    margin-left: 10px;
    font-size: 15px;
}

.box {
    flex-basis: calc(100% / 5);
    max-width: 15%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    background-color: ghostwhite;
    border: 2px solid green;
    margin-top: 100px;
    box-shadow: 6.0px 12.0px 12.0px hsl(0deg 0% 0% / 0.31),
                -3.0px -3px 12.0px hsl(0deg 0% 0% / 0.31);
}

.box:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

button {
    background-color: #2ecc71;
    color: white;
    width: 98%;
    border: 0px;
    border-radius: 5px;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 0px;
}

button:hover {
    background-color: #196e3d;
    transition: 0.3s;
    box-shadow: 3.0px 4.0px 6.0px hsl(0deg 0% 0% / 0.31);
    transform: scale(1.05);
}

select:hover {
    background-color: #196e3d;
    transition: 0.3s;
    box-shadow: 3.0px 4.0px 6.0px hsl(0deg 0% 0% / 0.31);
    transform: scale(1.05);
    color: white;
}

input[type=text]:hover {
    background-color: #196e3d;
    transition: 0.3s;
    box-shadow: 3.0px 4.0px 6.0px hsl(0deg 0% 0% / 0.31);
    transform: scale(1.05);
    color: white;
}