<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diet Planner - Caloric Intake</title>
</head>
<body>
    <div class="container">
        <h1>Calculate Your Caloric Intake</h1>
        <h4>Step 1/2</h4>
        <form action="/counter" method="post">
            {{ form.age.label }}
            {{ form.age }}

            {{ form.weight.label }}
            {{ form.weight }}

            {{ form.height.label }}
            {{ form.height }}

            {{ form.gender.label }}<br>
            {% for subfield in form.gender %}
                <label>{{ subfield }} {{ subfield.label }}</label>
            {% endfor %}<br>

            {{ form.activity.label }} <a href="https://clinmedjournals.org/articles/jnmdc/jnmdc-2-016table1.html" target="_blank">(Learn More)</a><br>
            {{ form.activity }}<br>

            {{ form.goal.label }}<br>
            {{ form.goal }}

            {{ form.button }}
        </form>
    </div>
</body>
</html>
