<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diet Planner</title>
    <link rel="stylesheet" href="static/form.css">
</head>
<body>
    <div class="container">
        <h1>Your Intake is {{calories}} Calories</h1>
        <h4>Step 2/2</h4>
        <form action="/diet-form" method="post">
            {{d_form.diet.label}}<br>{{d_form.diet}}<br>
            {{d_form.button}}
        </form>
    </div>
</body>
</html>