<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diet Planner - Caloric Intake</title>
    <link rel="stylesheet" href="static/mediaqueries.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/form.css">
</head>
<body>
<header>
    <div style="display: flex; flex-direction: row;">
      <img src="static/logonew.jpg">
    <h1 style="padding-left: 10px;">Diet Planner</h1>
          </div>
    <div class="buttons">
      <a href="/dashboard" class="dashboard">👤 {{user}}</a>
    </div>
  </header>
    <div class="container">
        <h1>Calculate Your Caloric Intake</h1>
        <h4>Step 1/2</h4>
        <form action="/counter" method="post">
            {{ form.age.label }}
            {{ form.age }}

            {{ form.weight.label }}
            {{ form.weight }}

            {{ form.height.label }}
            {{ form.height }}

            {{ form.gender.label }}
            <div class="gender">
            {% for subfield in form.gender %}
                {{ subfield }} {{ subfield.label }}
            {% endfor %}
            </div>
            {{ form.activity.label }} <a href="https://clinmedjournals.org/articles/jnmdc/jnmdc-2-016table1.html" target="_blank">(Learn More)</a>
            {{ form.activity }}

            {{ form.goal.label }}
            {{ form.goal }}

            {{ form.button(class="submit-btn") }}
        </form>
    </div>
<footer>
    <p>Diet Planner. By Aryan Naithani.</p>
  </footer>
</body>
</html>
