<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diet Planner</title>
    <link rel="stylesheet" href="static/mediaqueries.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/form2.css">
</head>
<body>
<header>
    <div style="display: flex; flex-direction: row;">
      <img src="static/logonew.jpg">
    <h1 style="padding-left: 10px;">Diet Planner</h1>
          </div>
    <div class="buttons">
      <a href="/dashboard" class="dashboard">👤 {{user}}</a>
    </div>
  </header>
    <div class="container">
        <h1>Your Daily Intake: {{calories}} Calories</h1>
        <h4>Step 2/2 - Select Your Diet Preference</h4>
        <form action="/diet-form" method="post">
            <label for="diet">{{d_form.diet.label}}</label><br>
            {{d_form.diet}}<br><br>
            <label for="meal_count">{{d_form.meal_count.label}}</label><br>
            {{d_form.meal_count}}<br><br>
            {{ d_form.allergen.label }}<br>
            <div class="allergen">
            {% for subfield in d_form.allergen %}
                <div style="display: flex; flex-direction:row;">{{ subfield }} {{ subfield.label }}</div>
            {% endfor %}<br>
            </div>
            <button type="submit" class="submit-btn">{{d_form.button.label.text}}</button>
        </form>
    </div>
<footer>
    <p>Diet Planner. By Aryan Naithani.</p>
  </footer>
</body>
</html>
