<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diet Planner</title>
  <link rel="icon" type="image/x-icon" href="static/favicon.ico">
  <link rel="stylesheet" href="static/mediaqueries.css">
  <link rel="stylesheet" href="static/home.css">
</head>
<body>
  <header>
    <h1>Diet Planner</h1>
    <div class="buttons">
      <a href="/login" class="login">Login</a>
      <a href="/signup" class="signup">Sign Up</a>
    </div>
  </header>

  <main>
    <h2 id="main">Personalized Diet Plans Just for You</h2>
    <p>Achieve your fitness goals with customized diet plans and a curated list of recipes that suit your needs.</p>
    <div class="action-buttons">
      <a href="#sample1" class="get-started">Get Started</a>
      <a href="#" class="learn-more">Learn More</a>
    </div>
  </main>
  <main>
    <h2 id="sample">Generate a sample meal plan right now</h2>
    <div class="container">
    <form action="/" method="post" id="sample1">
      <label for="cals">{{h_form.cals.label}}</label>
            {{h_form.cals}}
      <p style="font-size: 15px;">Calculate how many calories you need on our <a href="/counter">Calorie Counter</a></p>
            <label for="diet">{{h_form.diet.label}}</label>
            {{h_form.diet}}<br><br>
            <label for="meal_count">{{h_form.meal_count.label}}</label>
            {{h_form.meal_count}}<br><br>
            {{ h_form.allergen.label }}
            <div class="allergen">
            {% for subfield in h_form.allergen %}
                <div style="display: flex; flex-direction:row;">{{ subfield }} {{ subfield.label }}</div>
            {% endfor %}<br>
            </div>
            <button type="submit" class="submit-btn">{{h_form.button.label.text}}</button>
        </form>
      </div>
  </main>

  <footer>
    <p>Diet Planner. By Aryan Naithani.</p>
  </footer>
</body>
</html>